---
import '../styles/master.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const recaptchaSiteKey = import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY;

export interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { 
  title, 
  description = "Un lugar moderno, exclusivo y sofisticado para tus modelos",
  image = "/images/studio_models_logo.png"
} = Astro.props;
---
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{title}</title>
  <meta name="description" content={description} />
  
  <!-- Open Graph / Meta-->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/glightbox.min.css">
  <script is:inline defer src={`https://www.google.com/recaptcha/api.js?render=${recaptchaSiteKey}`}></script>
</head>
<body class="body loaded">
  <Header />
  <slot />
  <Footer />

  <script src="/js/scroll-animation.js" is:inline></script>
  
  <script>
    window.addEventListener('load', () => {
      setTimeout(() => {
        document.body.classList.add('loaded');
        const contenidoTexto = document.querySelector('.textoPrincipal .contenidoTexto');
        if (contenidoTexto) {
          contenidoTexto.classList.add('loaded');
        }
      }, 2000);
    });
  </script>
</body>
</html>